
.tilt-right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.tilt-left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

.handle {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

.task-droppable {
      min-height:10px
  }

textarea.trello-mod-list-name {
    background: 0 0;
    border-radius: 3px;
    box-shadow: none;
    font-weight: 700;
    /* margin: -3px -5px; */
    /* height: 18px; */
    min-height: 18px;
    padding: 3px 5px;
    resize: none;
    max-height: 16pc;
}

.task-draggable.is-dragging { 
    box-shadow:-2px 2px 6px rgba(0,0,0,.2);
    transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    cursor:-webkit-grabbing;
}

.trello-js-add-list{
    float:right;
}


